## Predicting the sales prices and practice feature engineering with Linear Regression

**House Prices - Advanced Regression Techniques**

##### data source: https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data?select=train.csv

`Adegoke Olanrewaju`

In [1]:
# importing the libraries

In [2]:
import numpy as np

import pandas as pd

import sklearn

In [3]:
# loading the dataset from my local folder

In [6]:
dataset_master = pd.read_csv('/Users/OLALYTICS/dsp-olanrewaju-adegoke/data/train.csv')

house_data_csv = dataset_master.copy()

house_data_csv.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [7]:
house_data_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

#### selecting the features with continuous and categorical variables and also the target variable known as the label.

In [8]:
useful_data = house_data_csv[['MSZoning','HouseStyle','YearBuilt','TotalBsmtSF','MiscVal','SalePrice']]

useful_data.head()

  MSZoning HouseStyle  YearBuilt  TotalBsmtSF  MiscVal  SalePrice
0       RL     2Story       2003          856        0     208500
1       RL     1Story       1976         1262        0     181500
2       RL     2Story       2001          920        0     223500
3       RL     2Story       1915          756        0     140000
4       RL     2Story       2000         1145        0     250000

In [10]:
# checking for missing values

useful_data.info()

# checking for NaN

useful_data.isna().sum()

# checking for duplicate and correcting it

useful_data.drop_duplicates(inplace = True)

useful_data.duplicated(keep = 'first').sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MSZoning     1460 non-null   object
 1   HouseStyle   1460 non-null   object
 2   YearBuilt    1460 non-null   int64
 3   TotalBsmtSF  1460 non-null   int64
 4   MiscVal      1460 non-null   int64
 5   SalePrice    1460 non-null   int64
dtypes: int64(4), object(2)
memory usage: 68.6+ KB

/var/folders/c6/ht4lr6411jqdn8bhdr_m1dh00000gp/T/ipykernel_74470/1078447486.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  useful_data.drop_duplicates(inplace = True)

0

In [11]:
# defining the categorical and continuous features

catFeature = ['MSZoning','HouseStyle']

contFeature = ['YearBuilt','TotalBsmtSF','MiscVal']

In [12]:
# selecting the features and target

features = useful_data[catFeature + contFeature]

target = useful_data['SalePrice']

#### Features engineering - OneHotEncoding for categorical variables and Scaling for continuous variables

In [13]:
# import the libraries

from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [14]:
# Encoding the categorical variables

onehot_encoder = OneHotEncoder(drop = 'first', sparse = False)

catFeature_encoded = onehot_encoder.fit_transform(features[catFeature])

catFeature_encoded_DF = pd.DataFrame(catFeature_encoded, columns = onehot_encoder.get_feature_names(catFeature))

catFeature_encoded_DF.head()

,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,HouseStyle_1.5Unf,HouseStyle_1Story,HouseStyle_2.5Fin,HouseStyle_2.5Unf,HouseStyle_2Story,HouseStyle_SFoyer,HouseStyle_SLvl
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [15]:
# Scaling the continuous variables

std_scaler = StandardScaler()

contFeature_scaled = std_scaler.fit_transform(features[contFeature])

contFeature_scaled_DF = pd.DataFrame(contFeature_scaled, columns = contFeature)

contFeature_scaled_DF.head()

   YearBuilt  TotalBsmtSF   MiscVal
0   1.051800    -0.459288 -0.087718
1   0.157486     0.466175 -0.087718
2   0.985555    -0.313402 -0.087718
3  -1.863001    -0.687235 -0.087718
4   0.952432     0.199477 -0.087718

In [16]:
# combining the dataset after full scaling

In [18]:
combined_dataset = pd.concat([contFeature_scaled_DF, catFeature_encoded_DF, target], axis = 1)

combined_dataset.tail()

,YearBuilt,TotalBsmtSF,MiscVal,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,HouseStyle_1.5Unf,HouseStyle_1Story,HouseStyle_2.5Fin,HouseStyle_2.5Unf,HouseStyle_2Story,HouseStyle_SFoyer,HouseStyle_SLvl,SalePrice
1455,0.223732,1.104425,-0.087718,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,175000.0
1456,-1.001810,0.215434,4.951368,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,210000.0
1457,-0.703705,0.046753,-0.087718,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,266500.0
1458,-0.206864,0.452498,-0.087718,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,142125.0
1459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147500.0

In [19]:
# checking for NaN and removing it

combined_dataset.isna().sum()

combined_dataset.dropna(inplace = True)

combined_dataset.tail()

,YearBuilt,TotalBsmtSF,MiscVal,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,HouseStyle_1.5Unf,HouseStyle_1Story,HouseStyle_2.5Fin,HouseStyle_2.5Unf,HouseStyle_2Story,HouseStyle_SFoyer,HouseStyle_SLvl,SalePrice
1454,0.919309,-0.238180,-0.087718,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,185000.0
1455,0.223732,1.104425,-0.087718,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,175000.0
1456,-1.001810,0.215434,4.951368,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,210000.0
1457,-0.703705,0.046753,-0.087718,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,266500.0
1458,-0.206864,0.452498,-0.087718,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,142125.0

In [20]:
# selecting the X and y from the final_dataset

X = combined_dataset.drop('SalePrice', axis = 1)

X.head()

,YearBuilt,TotalBsmtSF,MiscVal,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,HouseStyle_1.5Unf,HouseStyle_1Story,HouseStyle_2.5Fin,HouseStyle_2.5Unf,HouseStyle_2Story,HouseStyle_SFoyer,HouseStyle_SLvl
0,1.051800,-0.459288,-0.087718,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.157486,0.466175,-0.087718,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.985555,-0.313402,-0.087718,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,-1.863001,-0.687235,-0.087718,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.952432,0.199477,-0.087718,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [21]:
y = combined_dataset['SalePrice']

y.head()

0    208500.0
1    181500.0
2    223500.0
3    140000.0
4    250000.0
Name: SalePrice, dtype: float64

In [22]:
##### train and test split for training the model

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [25]:
##### fitting of the model by using the LinearRegression

In [26]:
from sklearn.linear_model import LinearRegression

LinReg = LinearRegression()

LinReg.fit(X_train, y_train)

LinearRegression()

In [27]:
##### predicting the housing prices using the LinearRegression Model

In [28]:
y_predicted = LinReg.predict(X_test)

y_predicted[:5]

array([196449.94379077, 179987.57893288, 182319.58498051, 199454.03718582,
       198703.21567862])

In [29]:
##### evaluating the model using the mean_squared_log_error

In [30]:
from sklearn.metrics import mean_squared_log_error

def compute_rmsle(y_test: np.ndarray, y_predicted: np.ndarray, precision: int = 2) -> float:
    rmsle = np.sqrt(mean_squared_log_error(y_test, y_predicted))
    return round(rmsle, precision)

In [31]:

print('The mean squared log error is:', compute_rmsle(y_test, y_predicted))

The mean squared log error is: 0.42

In [32]:
##### evalauting the model the mean_squared_error to see the difference

In [33]:
from sklearn.metrics import mean_squared_error

def compute_rmsle1(y_test: np.ndarray, y_predicted: np.ndarray, precision: int = 2) -> float:
    rmsle = np.sqrt(mean_squared_error(y_test, y_predicted))
    return round(rmsle, precision)

In [34]:

print('The mean squared log error is:', compute_rmsle1(y_test, y_predicted))

The mean squared log error is: 78699.41